In [ ]:
#Exercícios

#1. Google Colab
#Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando print .
#Crie uma célua de texto e adicione uma imagem

In [ ]:
print("Olá mundo!")

Olá mundo!

In [ ]:
#2. Números

#Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de
#ticket médio abaixo:

#ticket_medio = valor_total_vendas/quantiade_tatal_venda

# 19/01  (A)       3     320.52
# 20/01  834.47   (B)    119.21
# 23/01  15378.12  5     (C)

In [ ]:
quantiade_tatal_venda19 = 3
ticket_medio19 = 320.52
valor_total_vendas_19 = quantiade_tatal_venda19 * ticket_medio19

print(valor_total_vendas_19)

961.56

In [ ]:
# valor total de vandas do dia 19/01 e igual a 961.56

In [ ]:
valor_total_vendas_20 = 834.47
ticket_medio20 = 119.21
quantiade_tatal_venda20 = valor_total_vendas_20/ticket_medio20

print(quantiade_tatal_venda20)

7.000000000000001

In [ ]:
# valor quantidade de vendas do dia 20/01 e igual a 7.0

In [ ]:
quantiade_tatal_venda21 = 15378.12
valor_total_vendas_21 = 5
ticket_medio21 = quantiade_tatal_venda21/valor_total_vendas_21

print(ticket_medio21)

3075.6240000000003

In [ ]:
# O valor ticket medio do dia 20/01 e igual a 3075.62

In [15]:
#3. Strings
# Aplique três métodos distintos na string abaixo, você pode conferir alguns métodos neste

cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na
# variavel ano . Imprima os valores na tela.

noticia = '''
Selic vai a 2,75% e supera expectativas;
é a primeira alta em 6 anos
'''

estraindo = noticia.split()
print(estraindo)
#print(estraindo[3])
#print(estraindo[-1])

selic = estraindo[3]
ano = estraindo[-1]
relatorio = f'O valor da selic nos primeiros {ano} é de {selic} !.'
print(selic)
print(ano)
print(relatorio)

['Selic', 'vai', 'a', '2,75%', 'e', 'supera', 'expectativas;', 'é', 'a', 'primeira', 'alta', 'em', '6', 'anos']
2,75%
anos
O valor da selic nos primeiros anos é de 2,75% !.

In [10]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

print(cancao)
x = cancao.upper()
print(x)
y = x.split()
print(y)
z = cancao.replace("Roda", "Gira").replace('roda', 'giranndo')
print(z)

Roda mundo, roda gigante, roda moinho, roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
['RODA', 'MUNDO,', 'RODA', 'GIGANTE,', 'RODA', 'MOINHO,', 'RODA', 'PIÃO.']
Gira mundo, giranndo gigante, giranndo moinho, giranndo pião.

In [18]:
#4. Booleanos
#Utilize a tabela da verdade para responder: qual o valor da variável x?

a = False
b = True
x = not a & b


print(x)

True